# -----------------------------
# Operating System files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDEs / Editors
# -----------------------------

.idea/
*.sublime-workspace
*.sublime-project

# -----------------------------
# Node.js / JavaScript
# -----------------------------
node_modules/
npm-debug.log
yarn-error.log
dist/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.env
*.venv
*.vscode
env/
venv/
*.pkl

# -----------------------------
# Sensitive files
# -----------------------------
*.key
*.pem
*.crt
*.env
config.json
config.py
local.settings.json

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build files
# -----------------------------
build/
out/
coverage/

# -----------------------------
# Data files
# -----------------------------
deltatables/
newsapi/
newsdata/
newsdatahub/
silver/
gold/
bronze/
top20_csv/
models/
mlruns/
qdrant_storage/
entity_daily/
event_snapshot/
search_index/
topic_daily/
topic_realtime/
clusters/
clusters_labeled/
events/
trend_timeseries/
trending_clusters/